{% extends "base_generic.html" %}

{% block content %}
    <h1>Carnot Backend Assignment Solution</h1>
    <h2>Welcome to my solution for the Carnot Backend Assignment!</h2>
    <h2>Code repository link: <a href="https://github.com/shreyasbgr/carnot_backend_assignment">https://github.com/shreyasbgr/carnot_backend_assignment</a></h2>
    <h2>Solution to all the sub-questions:</h2>
    <ol>
        <li>
            <p>
                URL for the Admin access to the database with the required data:
                <a href="https://carnot-backend-assignment.herokuapp.com/admin/">
                    https://carnot-backend-assignment.herokuapp.com/admin/
                </a></p>
                Username: admin
                Password: admin
        </li>

        <li>
            <p>
                URL to get student detailed info is:\n
                https://carnot-backend-assignment.herokuapp.com/application/student/student_id\n
                where, student_id represents the id of the student.\n
                For example, the URL for student detailed info for student with student_id = 1 is,\n
                <a href="https://carnot-backend-assignment.herokuapp.com/application/student/1">
                    https://carnot-backend-assignment.herokuapp.com/application/student/1
                </a>
            </p>
        </li>

        <li>
            <p>
                URL for the Student Search Form HTML page:
                <a href="https://carnot-backend-assignment.herokuapp.com/application/students/search">
                    https://carnot-backend-assignment.herokuapp.com/application/students/search
                </a>

            </p>
        </li>
    </ol>
    <p>Additionally, to check the list of all students use the URL:
        <a href="https://carnot-backend-assignment.herokuapp.com/application/students/">
            https://carnot-backend-assignment.herokuapp.com/application/students/
        </a>
    </p>
    <p>The application uses the Python Django framework and is deployed on Heroku. The database used by the application
        is the free-tier Heroku Postgres database.</p>
{% endblock %}