{% extends "base_generic.html" %}

{% block content %}
    <h1>Student Search Form</h1>
    <form action="" method="get">
        <table>
        {{ form }}
        </table>
        <button type="submit" value="Search" style="margin-left:150px; margin-top:20px; margin-bottom:20px;">Search</button>
    </form>

    <h2>Student Information:</h2>
    <p><strong>Name: </strong>{{ student.first_name }} {{student.last_name}}</p>
    <p><strong>ID: </strong> {{ student.id }}</p>
    <p><strong>Email: </strong> {{ student.email }}</p>
    <p><strong>Gender: </strong> {{ student.gender }}</p>
    <p><strong>School: </strong> {{ student.school }}</p>
    <p><strong>School Phone: </strong> {{ school.phone }}</p>
    <p><strong>Books: </strong> {{ student.books }}</p>
    <p><strong>Number of pages read: </strong> {{ book.number_of_pages }}</p>
{% endblock %}